<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./linkStyles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
</head>

<body>
<div id="links">
    <div id="linkActivation" class="linkButton"><h2>Links</h2></div>
    <div id="linkList">
        <a href="/">
            <div class="linkButton">Home</div>
        </a>
        <a href="/drumkit">
            <div class="linkButton">Drum Kit</div>
        </a>
        <a href="/simongame">
            <div class="linkButton">Simon Game</div>
        </a>
    </div>
</div>
<script src="./links.js"></script>
</body>
</html>